Pandas 提供了多种将 Series、DataFrame 对象组合在一起的功能，用索引与关联代数功能的多种设置逻辑可执行连接（join）与合并（merge）操作。

[Merge, join, concatenate and compare](https://pandas.pydata.org/pandas-docs/stable/user_guide/merging.html)

## 合并

In [1]:
import numpy as np
import pandas as pd
import testBase as tb

df = pd.DataFrame(np.random.randn(10, 4))

tb.myprint("原始数据")
print(df)

# 分解为多组
pieces = [df[:3], df[3:7], df[7:]]

tb.myprint("Concat")
print(pd.concat(pieces))


tb.myprint("join")
left = pd.DataFrame({'key': ['foo', 'foo'], 'lval': [1, 2]})
right = pd.DataFrame({'key': ['foo', 'foo'], 'rval': [4, 5]})
tb.myprint("left")
print(left)
tb.myprint("right")
print(right)
tb.myprint("join 后")
print(pd.merge(left, right, on='key'))


tb.myprint("分组（Grouping）")
tb.myprint("按条件把数据分割成多组，为每组单独应用函数，将处理结果组合成一个数据结构")

df1 = pd.DataFrame({'A': ['foo', 'bar', 'foo', 'bar', 'foo', 'bar', 'foo', 'foo'],
                    'B': ['one', 'one', 'two', 'three', 'two', 'two', 'one', 'three'],
                    'C': np.random.randn(8),
                    'D': np.random.randn(8)})

print(df1)
tb.myprint("按A列分组计算")
print(df.groupby('A').sum())

============== 原始数据 ==============

          0         1         2         3
0 -2.073464  0.944553  1.218224  2.550706
1 -0.730779  0.044532  0.659287 -0.470215
2  0.624766  0.238691 -1.010957 -1.095796
3 -0.447499  0.706678 -1.855063  1.250786
4 -0.140297  1.065764 -0.666139 -0.920517
5 -0.928625  1.839656 -1.071797  1.933501
6 -2.048592  0.091281 -0.088095 -0.750147
7 -1.706948  0.953560 -1.025268 -0.455909
8 -1.450648 -1.082199 -1.038885 -1.087418
9  0.977765  0.652507  0.639915 -0.364885
          0         1         2         3
0 -2.073464  0.944553  1.218224  2.550706
1 -0.730779  0.044532  0.659287 -0.470215
2  0.624766  0.238691 -1.010957 -1.095796
3 -0.447499  0.706678 -1.855063  1.250786
4 -0.140297  1.065764 -0.666139 -0.920517
5 -0.928625  1.839656 -1.071797  1.933501
6 -2.048592  0.091281 -0.088095 -0.750147
7 -1.706948  0.953560 -1.025268 -0.455909
8 -1.450648 -1.082199 -1.038885 -1.087418
9  0.977765  0.652507  0.639915 -0.364885