数据透视表

In [2]:
import numpy as np
import pandas as pd
import testBase as tb


df = pd.DataFrame({'A': ['one', 'one', 'two', 'three'] * 3, 
                    'B': ['A', 'B', 'C'] * 4, 
                    'C': ['foo', 'foo', 'foo', 'bar', 'bar', 'bar'] * 2,
                    'D': np.random.randn(12), 
                    'E': np.random.randn(12)})

tb.myprint("原数据")
print(df)

tb.myprint("透视数据")
pd.pivot_table(df, values='D', index=['A', 'B'], columns=['C'])

============== 原数据 ==============

        A  B    C         D         E
0     one  A  foo -0.081799  1.151424
1     one  B  foo  0.390098 -0.916107
2     two  C  foo  1.877145  0.889126
3   three  A  bar -0.618528 -1.185236
4     one  B  bar -0.751841  1.466932
5     one  C  bar  2.557883 -0.679599
6     two  A  foo -0.800850  0.192531
7   three  B  foo  0.198194  0.537967
8     one  C  foo -1.072766 -0.948984
9     one  A  bar  0.125151  1.216867
10    two  B  bar  0.438956  0.202011
11  three  C  bar -0.841579  0.202607

============== 透视数据 ==============

C             bar       foo
A     B
one   A  0.125151 -0.081799
      B -0.751841  0.390098
      C  2.557883 -1.072766
three A -0.618528       NaN
      B       NaN  0.198194
      C -0.841579       NaN
two   A       NaN -0.800850
      B  0.438956       NaN
      C       NaN  1.877145