## 说明

这是一个Jupyter练习。加载本地数据。

DataFrame:二维数据，整个表格，多行多列

df.columns 查询列

df.index  查询行

Series：一维数据，一行或者一列

![pandas base](../images/pandas-base-1.png)

In [12]:
import numpy as np
import pandas as pd
import testBase as tb

# 指定了索引，如果不指定，索引为：RangeIndex(start=0, stop=4, step=1)
s1 = pd.Series([10, 'A', 5.2, 26], index = ['d','b','a','c'])
tb.myprint("数据列表")
print(s1)

tb.myprint("数据索引")
print(s1.index)

tb.myprint("数据")
print(s1.values)

tb.myprint("查询数据")
print(s1.a)
print(type(s1.a))
print(s1[['b', 'a']])

============== 数据列表 ==============

d     10
b      A
a    5.2
c     26
dtype: object
============== 数据索引 ==============

Index(['d', 'b', 'a', 'c'], dtype='object')
============== 数据 ==============

[10 'A' 5.2 26]
============== 查询数据 ==============

5.2
<class 'float'>
b      A
a    5.2
dtype: object

数据字典

In [13]:
import numpy as np
import pandas as pd
import testBase as tb

sdata = {'ohio':3500,'Texas':72000,'Oregs':16000,'Ggrqg':5000}
s1 = pd.Series(sdata)

tb.myprint("数据列表")
print(s1)

============== 数据列表 ==============

ohio      3500
Texas    72000
Oregs    16000
Ggrqg     5000
dtype: int64

多个字典序列创建dataframe

In [14]:
import numpy as np
import pandas as pd
import testBase as tb

data = {
    'state':['ofjg','sdfg','werw','wrgwer','rgwg'],
    'year':[2000,3000,5000,6000,9000],
    'pop':[1.5,1.7,1.6,5.3,3.5]
}
df = pd.DataFrame(data)

tb.myprint("数据列表")
print(df)

tb.myprint("数据一列")
print(df['year'])

tb.myprint("数据多列")
print(df[['year','pop']])

tb.myprint("数据最后一列")
print(df.loc[1])

============== 数据列表 ==============

    state  year  pop
0    ofjg  2000  1.5
1    sdfg  3000  1.7
2    werw  5000  1.6
3  wrgwer  6000  5.3
4    rgwg  9000  3.5
============== 数据一列 ==============

0    2000
1    3000
2    5000
3    6000
4    9000
Name: year, dtype: int64
============== 数据多列 ==============

   year  pop
0  2000  1.5
1  3000  1.7
2  5000  1.6
3  6000  5.3
4  9000  3.5
============== 数据最后一列 ==============

state    sdfg
year     3000
pop       1.7
Name: 1, dtype: object

读取文件，将文件内容转换成dataFrame

In [3]:
import numpy as np
import pandas as pd
import testBase as tb

click_series = pd.read_csv("D:/wangrun/data/theme_item_pool.csv")
#click_series = pd.read_csv("D:/wangrun/data/theme_click_log.csv", sep = ",", header = 0)
tb.myprint("查看前几行")
click_series.head() 

tb.myprint("查看后几行")
click_series.tail(10)

tb.myprint("查看数据的形状，返回（行数、列数）")
click_series.shape

tb.myprint("查看列名列表")
click_series.columns 

tb.myprint("查看索引列")
click_series.index

tb.myprint("查看每一列的数据类型")
click_series.dtypes

============== 查看前几行 ==============

============== 查看后几行 ==============

============== 查看数据的形状，返回（行数、列数） ==============

============== 查看列名列表 ==============

============== 查看索引列 ==============

============== 查看每一列的数据类型 ==============

theme_id     int64
item_id     object
dtype: object

## 连接MySQL

看例子

In [ ]:
import numpy as np
import pandas as pd
import testBase as tb

conn = pmysql.connect(
         host = '127.0.0.1',
         user = 'root',
         password = '123456',
         database = 'test',
         charest = 'utf8'
)
mysql_page = pd.read_sql("select * from 表名",con=conn)
print(mysql_page)