## 说明

这是一个Jupyter练习。加载本地数据。

DataFrame:二维数据，整个表格，多行多列

df.columns 查询列

df.index  查询行

Series：一维数据，一行或者一列

![pandas base](../images/pandas-base-1.png)

In [ ]:
import numpy as np
import pandas as pd
import testBase as tb

# 指定了索引，如果不指定，索引为：RangeIndex(start=0, stop=4, step=1)
s1 = pd.Series([10, 'A', 5.2, 26], index = ['d','b','a','c'])
tb.myprint("数据列表")
print(s1)

tb.myprint("数据索引")
print(s1.index)

tb.myprint("数据")
print(s1.values)

tb.myprint("查询数据")
print(s1.a)
print(type(s1.a))
print(s1[['b', 'a']])

数据字典

In [ ]:
import numpy as np
import pandas as pd
import testBase as tb

sdata = {'ohio':3500,'Texas':72000,'Oregs':16000,'Ggrqg':5000}
s1 = pd.Series(sdata)

tb.myprint("数据列表")
print(s1)

多个字典序列创建dataframe

In [ ]:
import numpy as np
import pandas as pd
import testBase as tb

data = {
    'state':['ofjg','sdfg','werw','wrgwer','rgwg'],
    'year':[2000,3000,5000,6000,9000],
    'pop':[1.5,1.7,1.6,5.3,3.5]
}
df = pd.DataFrame(data)

tb.myprint("数据列表")
print(df)

tb.myprint("数据一列")
print(df['year'])

tb.myprint("数据多列")
print(df[['year','pop']])

tb.myprint("数据最后一列")
print(df.loc[1])

读取文件，将文件内容转换成dataFrame

In [ ]:
import numpy as np
import pandas as pd
import testBase as tb

click_series = pd.read_csv("D:/wangrun/data/theme_item_pool.csv")
#click_series = pd.read_csv("D:/wangrun/data/theme_click_log.csv", sep = ",", header = 0)
tb.myprint("查看前几行")
print(click_series.head())

tb.myprint("查看后几行")
print(click_series.tail(10))

tb.myprint("查看数据的形状，返回（行数、列数）")
print(click_series.shape)

tb.myprint("查看列")
print(click_series.columns)

tb.myprint("查看索引")
print(click_series.index)

tb.myprint("查看每一列的数据类型")
print(click_series.dtypes)

## 连接MySQL

看例子

In [ ]:
import pymysql
import numpy as np
import pandas as pd
import testBase as tb

conn = pymysql.connect(
         host = '192.168.101.30',
         user = 'root',
         password = 'Siw892%we72N',
         database = 'test',
         charset = 'utf8'
)
df_1 = pd.read_sql("select * from realtime_match_online;", con=conn)
print(df_1)